/.DS_Store
/1.7 - 1.8 Data Cleaned.xlsx
/CFG-HW1-PARTS.sql
/CFG-HW1.sql
/CFG-HW2-SHOP.sql
/CFG-HW2.sql
/CFG-HW3.sql
/CFG1-BAKERY.sql
/CFG2-CUSTOMERS.sql
/CFG2.sql
/CV-2023.docx
/CV-EW.docx
/CV23.docx
/Cover Letter - LCC.docx
/Cover Letter .docx
/Cover Letter.docx
/DA-SCHOOLS.sql
/DAexercise.sql
/Data Analytics Bootcamp Excel Exercises Solution.xlsx
/Data Analytics Bootcamp Excel Exercises.xlsx
/Data_Analytics_Essentials_Badge20231031-29-lxrqjj.pdf
/Database of worldwide ransomware attacks.html
/Dataset-2.csv
/Dataset-2.html
/HGV Fleet Database Management System.docx
/HGV-EER-Diagram.mwb
/HGV-EER-Diagram.mwb.bak
/HGV-EER.pdf
/HGV-Project.sql
/How prevalent are ransomware attacks in each sector?.html
/KPMG01-Dataset-2.csv
/KPMG01-Dataset-2.xlsx
/KPMG01-Dataset-2023.csv
/KPMG01-Dataset-2023.xls
/KPMG01-Dataset-2023.xlsx
/KPMG01-Dataset-CSV.csv
/Number of individuals affected per ransomware incident.html
/RSW -11.docx
/RWDS 5.html
/RWDS-2.html
/Ransomware Attacks - Ransomware Attacks.xlsx
/Ransomware Attacks on SChains and Retail.docx
/Ransomware Attacks-3 - Ransomware Attacks.csv
/Ransomware-Data-1.xlsx
/Ransomware-Data-2.xlsx
/Ransomware.ipynb - Colaboratory.html
/Ransomware_Attacks-Data.html
/Research Report on Ransomware.docx
/SC-DA-Oct23 Timetable.html
/SEO Executive Assistant.docx
/Skills City - Data Analytics CV Template.docx
/What are the most common cyber incidents?.html
/data-analytics.ipynb
/data-security-incident-trends-q4-2022.xlsx
/data.json
/data_science.ipynb
/exercise.sql
/kpmg project.html